.cont-titulo-redes{
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: " . titulo nav"; 
    align-items: center;
    padding: 0px 150px;
}
h1{
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
}
.cont-menu-redes{
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.iconos{
    margin: 0px 5px;
    color: blue;
    font-size: 25px;
}
.menu-principal{
    background-color: rgba(172, 140, 140, 0.658);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cuadro{
    width: 300px;
    height: 40px;
}
.boton{
    width: 50px;
    height: 40px;
}
.secfondo{
    background-image: url(portada.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.creando{
    margin: 0px;
    color: aliceblue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.vivir{
    color: aliceblue;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
